// sample_sheet.pug
table(style='width:100%', border='1')
    tr
        th P    H
        th I
        th N
        th G    O
    tr
        td song1
        td song2
        td song3
        td song4
    tr
        td song5
        td song6
        td song7
        td song8
    tr
        td song9
        td song10
        td song11
        td song12
    tr
        td song13
        td song14
        td song15
        td song1